# Title/Salary Key Term Associations

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import scipy
import numpy as np

Data Science Jobs dataset from glassdoor (accessed via kaggle): https://www.kaggle.com/datasets/georgejnr/advertised-data-science-jobs-dataset?resource=download

In [3]:
#Loading Data
ds_jobs = pd.read_csv("./data_sci_jobs.csv")
ds_jobs

,Company,Job Title,Location,Estimated Salary
0,Dataquestcorp,Data Science,"Branchburg, NJ",$70K - $79K (Employer est.)
1,Paliwoda Group,"Junior Researcher, Data Science","New York, NY",NaN
2,"JPMorgan Chase Bank, N.A.",2023 Advancing Hispanics & Latinos Fellowship ...,"New York, NY",$26.45 Per Hour(Employer est.)
3,Discord,Data Engineering Manager,"San Francisco, CA",$192K (Employer est.)
4,YT Global Network,Data Engineer- Remote,Remote,$90.00 - $120.00 Per Hour(Employer est.)
...,...,...,...,...
2425,C3 AI,Data Science Instructor,"Redwood City, CA",$109K - $142K (Employer est.)
2426,pulseData,Data Science Associate (Remote),"New York, NY",$50K - $83K (Glassdoor est.)
2427,Bayer,NAFTO Data Science Co-op,United States,$35.00 Per Hour(Employer est.)
2428,MediaMath,"VP, Data Science","New York, NY",$231K - $300K (Employer est.)
2429,Duolingo,Head of Data Science,"New York, NY",$196K - $314K (Employer est.)

In [ ]:
#check for nulls in job title and estimated salary
ds_jobs["Job Title"]